.count {
  font-size: large;
  padding: 20px;
}
table {
  width: 100%;
  padding: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  padding: 20px;
}

td, th {
  width: 25%;
}
.mat-sort-header-container {
  align-items: center;
}