<div>
    <p class="count">Total User Count : {{len}}</p>
</div>


<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div>
    <table mat-table [dataSource]="dataSource" matSort matSortChange="sortData($event)" class="mat-elevation-z8">

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Full Name Column -->
        <ng-container matColumnDef="full_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="first_name"> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="activate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="is_active"> Status </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.is_active; else elseBlock">
                    Active
                </div>
                <ng-template #elseBlock>
                    Inactive
                </ng-template>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="profileClicked(element.id)">open_in_browser</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>