mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.edit_btn {
  font-weight: 500;
  font-stretch: wider;
}

.del_btn {
  background-color: red;
  color: white;
  font-weight: 500;
  font-stretch: wider;
}