.mat_card {
    width: 500px;
    height: 150px;
    margin: 20px;
    padding: 20px;
}

.outlook {
    padding: 50px;
}

.title {
    font-weight: 400;
}

.common {
    font-weight: 300;
}

.dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
  }
  .dot-red {
    background-color: red;
  }
  .dot-green {
    background-color: green;
  }

  .spacer {
    flex: 1;
  }

  .edit_icon {
    height: 2px;
    width: 2px;
    padding-right: 20px;
    margin-left: auto; 
    margin-right: 0;
    color: gray;
  }

  .count {
    font-size: large;
    padding: 20px;
  }