<div>
    <p class="count">Total User Count : {{len}}</p>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let customer of customers">
        <mat-card class="mat_card" (click)="profileClicked(customer)" appMaterialElevation>
            <mat-card-content>
                <mat-grid-list cols="1" rowHeight="3:1">
                    <mat-grid-tile>

                        <img mat-card-md-image src="http://openweathermap.org/img/wn/02d@2x.png">
                        <div class="spacer"></div>

                        <div class="flex-row">
                            <h2 class="title">
                                {{ customer.first_name }} {{ customer.last_name }}
                            </h2>
                            <h3 class="common">
                                {{ customer.email }}
                            </h3>
                            <div class="common" *ngIf="customer.is_active; else elseBlock">
                                <span class="dot dot-green"></span>
                                <span>
                                    Active
                                </span>
                            </div>

                            <ng-template #elseBlock>
                                <div class="common">
                                    <span class="dot dot-red"></span>
                                    <span>
                                        Inactive
                                    </span>
                                </div>
                            </ng-template>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>