<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Add User</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="fill">

      <mat-label>First Name : </mat-label>
      <input type="text" [(ngModel)]="person.first_name" matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name : </mat-label>
      <input type="text" [(ngModel)]="person.last_name" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email : </mat-label>
      <input type="email" [(ngModel)]="person.email" matInput placeholder="Email">
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password : </mat-label>
      <input type="password" [(ngModel)]="person.password" matInput placeholder="Password">
    </mat-form-field>
    <button mat-button (click)="addPerson()"> ADD </button>
  </mat-card-content>
</mat-card>